.b-footer{
    position: relative;
    background-color: black;
    width: 100%;
    height: 150vh;
}

.footer__picture{
display: block;
width: 100%;
height: 100%;
position: absolute;
right: 0;
bottom: 180px;

}


.b-contacts__title-h3{
    color: #f4f4f7;
    font-family: Roboto-Black, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
} 


.b-footer {

    position: relative;
    background-color: black;
    width: auto;
    height: 720px;
}

.b-footer-map {
    width: 902.8px;
    height: 440px;
    position: absolute;
    bottom: 100px;
    right: 28.3px;
}

.dot-norvay {
    position: absolute;
    top: 257px;
    right: 460px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #64cae1;
}

.dot_belarus {
    position: absolute;
    top: 282px;
    right: 386px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d04b9b;
}

.b-footer-wrap {
    display: flex;


    margin-left: 200px;
    margin-right: 102px;
    margin-bottom: 98px;
    width: auto;
    height: auto;

}

.norway {
    height: 540px;
    width: 380px;
}

.contacts {
    margin-top: 100px;
}

.contacts h3 {
    margin: 0 0 75px 0;
    padding: 0;
    color: #f4f4f7;
    font-family: Roboto-Black, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
}

.loactions_description span {
    margin-bottom: 90px;
    color: #f4f4f7;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}



.norway_contacts h3 {
    color: #f4f4f7;
    font-family: Roboto-Bold, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.norway_adress p {
    color: #f4f4f7;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

.norway_adress p {
    text-decoration: none;
    color: #f4f4f7;
}


.belarus {
    height: 540px;
    width: 380px;
}

.social_media {
    margin: 120px 0 200px 0;

}

.belarus_contacts h3 {
    color: #f4f4f7;
    margin-bottom: 20px;
}

.belarus_adress {
    color: #f4f4f7;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

.mail_color {
    color: #64cae1;
}

.tel_color {
    color: #f4f4f7;
}

.b_footer_drop_a_line {
    position: relative;
    display: block;
    background-color: #64cae1;
    width: 580px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.b_footer_drop_a_line span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: Roboto-Ligh, serif, sans-serif;
    font-weight: 300;
    color: #f4f4f7;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.b_footer_drop_a_line::after {
    content: url(../img/arrow.svg);
    position: absolute;
    right: 52px;
    bottom: 25px;
}

.bottom_wraper {
    display: flex;
}

.copyright span {
    display: block;
    margin: 25px 0 25px 118px;
    color: #f4f4f7;
    opacity: 0.4;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}