@import url(style-header.css);
@import url(style-main.css);
@import url(style-fonts.css);
@import url(style-second-screen.css);
@import url(style-third-screen.css);
@import url(style-fourth-screen.css);
@import url(footer.css);
/* Roboto-Ligh - 300; Roboto-Bold - bold; Roboto-Black - 900;  */

body{
  margin: 0;
  padding: 0;
  background-color: #f4f4f7;
}

ul{list-style: none;}

a {
  text-decoration: none;
}
.wraper {
  box-sizing: border-box;
  width: 1440px;
  height: auto;
  border: 1px solid green;
  padding: 0 130px;
}

.block_zero-indent {
  margin: 0;
  padding: 0;
}

.list-style_disabled {
  list-style: none;
}

/* ################### Текстовые стили ######################## */

.b-title_dark-h2-60px {
  color: #2d2d42;
  font-family: Roboto-Black, sans-serif;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
}

.b-text_dark-30px {
  color: #2d2d42;
  font-family: Roboto-Ligh, sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.b-text_dark-20px {
  color: #2d2d42;
  font-family: Roboto-Bold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.b-first-screen_pale-gray-20px {
 
  color: #f4f4f7;
  font-family: Roboto-Ligh, sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}


.b-first-screen_pale-grey-title-h1 {
  
  color: #f4f4f7;
  font-family: Roboto-Black, serif, sans-serif;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
}

.b-link-bottom__text{ 
  
  color: #f4f4f7;
  font-family: Roboto-Ligh, serif, sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
  
.b-what-we-do__text{ 
  color: #2d2d42;
  font-family: Roboto-Bold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;}

  .what-we-d__title-h3_silver-60px{
      color:#c0c6c8;
      font-family: Roboto-Black;
      font-size: 60px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: -0.75px;
  }
  