.b-our-team{
    position: relative;
    margin-bottom: 100px;
}

.b-our-team-text {
    position: absolute;
    right: 200px;
    bottom: 20px;
    display: block;
    width: 380px;
    height: 380px;
    background-color: #f4f4f7;
    padding: 0;
}

.b-our-team-text__paragraph{

    padding: 0;
    margin: 0 40px 110px 40px;
    color: #2d2d42;

    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
}

.b-our-team-text__title-h3{

    padding: 0;
    margin: 40px 40px 50px 40px;
    color: #2d2d42;

    font-family: Roboto-Black, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
}


/* ############################## Inside FrontByte ################################# */

.b-inside-frontbyte {
    width: 980px;
    margin-left: 195px;

    /* border: 1px solid red; */
}

.b-inside-frontbyte__title-h3 {
    margin: 0 0 25px 0;

    color: #2d2d42;
    font-family: Roboto-Black, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
}

.b-inside-frontbyte__paragraph {

    color: #2d2d42;
    padding: 0;
    margin: 0 0 90px 0;
    width: 980px;
    height: auto;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}


/* ################################################################################# */

.b-press-about-us{
    position: relative;

    width: 980px;
    margin-left: 195px;
    margin-bottom: 80px;
}

.b-press-about-us-text {
    position: absolute;
    left: -200px;
    bottom: 0;
    background-color: #f4f4f7;
    width: 400px;
    height: 380px;
    /* border: 1px solid red; */

}

.b-press-about-us-text__title-h3 {

    color: #2d2d42;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin: 40px 0 30px 0;
    padding: 0;

}

.b-press-about-us-text__paragraph {

    color: #2d2d42;
    margin: 0 50px 55px 0;

    padding: 0;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.b-img-tc {
    display: block;
    width: 50px;
    height: 26px;
    margin: 55px 0 48px 0;
}

.b-tabs-list {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0 40px 0 0;
}

.b-tabs-list__link{

    display: block;
    background-color: #64cae1;
    width: 65px;
    height: 3px;
    margin-right: 9px;
}

.b-tabs-list li:hover{
    transform: scaleY(1.5);
}

.b-latest-news{
    margin-bottom: 100px;
}

.b-latest-news__title-h3{
    color: #2d2d42;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
}

.b-news-block{
    display: flex;
}

.b-news {
    width: 280px;
    height: auto;
    padding: 0;
    margin-right: 120px;
}


.b-news:last-child {
    margin-right: 0;
}

.b-news__link {
    text-decoration: none;
    color: #2d2d42;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.b-news time {
    color: #93a4a9;
    font-family: Roboto-Ligh, serif, sans-serif;

    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.news p {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}