.b-main {

    width: 100%;
    height: auto;


}

.b-inner-wraper {
    box-sizing: border-box;
    padding: 0 200px;
    width: auto;
    height: auto;



}

.b-first-screen__title-h1 {
    padding-top: 26px;
    width: auto;
    height: auto;

    max-width: 780px;
    max-height: 290px;


    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;

}

.b-first-screen_indent {
    padding-top: 26px;
    margin-bottom: 48px;
}

/* .b-first-screen_pale-grey-title-h1:hover {
    overflow-y: scroll;
} */



.b-first-screen__span-text {
    display: inline-block;
    padding: 30px 105px 30px 0;
}

.b-link-bottom {
    position: relative;
    display: block;
    width: 580px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.b-link-bottom__text {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 30px;
    max-width: 480px;
    overflow: hidden;
}

.b-link-bottom::after {
    content: url(../img/main/arrow.svg);
    position: absolute;

    right: 8.6%;
    bottom: 31.3%;

}

.b-background {

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.b-background::after {
    content: '';
    display: inline-block;
    top: 0;
    left: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.b-background_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}