.b-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    height: auto;
    /* border: 1px solid red; */

    position: relative;
}

.header_indent {
    padding: 40px 60px 40px 40px;
    margin: auto;
    margin-bottom: 26px;
}

.b-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.b-logo_rm {
    margin-right: 120px;
}

.b-navigation_rm {
    margin-right: 195px;
}

.b-menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.b-menu__link {
    color: rgba(244, 244, 247, 0.6);
   
    font-family: Roboto-Ligh, serif, sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-decoration: none;
    display: block;
    
    padding: 10px 0;
}

.b-menu__item_rm {
    margin-right: 50px;
}

.b-langlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-langlist__link {
    color: rgba(244, 244, 247, 0.6);
   
    font-family: Roboto-Ligh, serif, sans-serif;
    font-weight: 300;

    font-size: 15px;
    text-decoration: none;
    display: block;
    
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;


    border: 1px solid transparent;
    border-radius: 50%;
}

.b-langlist__link:hover,
.b-langlist__link:active,
.b-langlist__link:focus {
    border-color: rgba(176, 176, 187, 0.3);
}

.b-menu__link:hover {
    opacity: 0.5;
}