.b-we-combine{
    background-color: white;
    margin-bottom: 100px;
}

.b-we-combine__title-h2{
    padding: 90px 0 15px 0;
}

.b-we-combine_title-h2_margin{
    margin: 0;
}

.b-we-combine__span-text{
    display: inline-block;
    padding: 15px 0;
}

.b-we-combine__span-text_margin{

    margin-bottom: 35px;
}

.b-what-we-do{
    width: auto;
    height: auto;
    padding: 35px 0px 35px 0;
    display: flex;
    margin-bottom: 70px;
}

.b-what-we-do-item{
    width: 240px;
    height: 210px;
    margin-right: 60px;
}



.b-what-we-do-item:last-child{
    margin-right:0;
}

.b-what-we-do__blue-circle{

  /* margin: 85px 212px 30px 58px; */
  /* padding: 21px 20px 17px; */
  background-color: #63c9e0;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
  margin-bottom: 30px;
 
}

.b-what-we-do__orange-circle{

    /* margin: 85px 205px 30px 61px;
    padding: 17px 29px 14px 37px; */
    background-color: #f47e3d;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    margin-bottom: 30px;
   
}

.b-what-we-do__pink-circle{
   /* margin: 85px 194px 30px 56px;
  padding: 19px 17px 28px;*/
  background-color: #d04b9b;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  
  position: relative;
  margin-bottom: 30px;

}

.ic-project, .ic-hire, .ic-digital{
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ic-hire{
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);}


    .b-we-provide{
        overflow: hidden;
        max-width: 1180px;
        max-height: 640px;
        margin-bottom: 100px;
    }
    
    .b-second-screen{
        border: 1px solid seagreen;
    }
    
    
    .What-we-do__wrap-list {
    
        display: flex;
        margin-right: 100px;
        margin-left: 140px;
    
    }
    
    .b-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 270px;
        /* width:  */
        margin: 0 0 0 -100px;
        padding-bottom: 107px;
       
    }
    
    .b-list_item {
        color: #2d2d42;
        font-family: Roboto-Ligh, serif, sans-serif;
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        padding-bottom: 30px;
    
        width: 380px;
        position: relative;
        padding-left: 60px;
    }
    
    .b-list_item::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 15px;
        
        background-color: #64cae1;
        width: 30px;
        height: 1px;
    }
    
    .What_we_do_list_2 {
        margin-left: 60px;
    }
    
    .what-we-do-list-item {
        margin-bottom: 30px;
    }
    
    .what-we-do-list-item:first-child {
        margin-bottom: 20px;
    }
    