.b-our-work{
    margin-bottom: 30px;
}

.b-our-work-photo-gallery{
    width: auto;
    height: auto;
}

.b-birdieeyes-photo__picture{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.b-our-work-text_wraper {
    margin-left: 200px;
    margin-right: 130px;
    margin-bottom: 90px;
}

.b-our_work_span {
    margin-bottom: 90px;

    color: #2d2d42;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.b-our_work_title_h2 {
    margin-top: 0;
    margin-bottom: 25px;

    color: #2d2d42;
    font-family: Roboto-Black, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
}

.b-birdieeyes-photo {
    position: relative;
    width: 1180px;
    height: 600px;
    margin-bottom: 20px;
}

.b-birdieeyes-text {
    position: absolute;
    left: 200px;
    bottom: 20px;
    height: 380px;
    width: 380px;
    background-color: #64cae1;
    margin: 0;
    padding: 0;
}

.b-birdieeyes-text__title-h3 {
    color: #f4f4f7;
    font-family: Roboto-Black, serif, sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin: 41px 40px 39px 40px;
}

.b-birdieeyes-text__paragraph {
    color: #f4f4f7;
    width: 300px;
    height: 240px;
    overflow: hidden;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;

    margin: 0 40px 40px 40px;
}


.b-our-work-sub-gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* flex-direction: row; */
    row-gap: 70px;
    column-gap: 14px; 
    margin-bottom: 70px;
}



.b-our-work-text__title-h3 {
    color: #2d2d42;
    font-family: Roboto-Black, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;

    margin-top: 40px;
    margin-bottom: 30px;

}

.b-our-work-text__paragraph{
    color: #2d2d42;
    font-family: Roboto-Ligh, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    width: 440px;
    height: auto;
    margin: 0;

}