@font-face {
    font-family: 'Roboto-Ligh';
    src: url('../font/Roboto-Light.woff2') format('woff2'),
        url('../font/Roboto-Light.woff') format('woff');
        
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../font/Roboto-Bold.woff2') format('woff2'),
        url('../font/Roboto-Bold.woff') format('woff');
       
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../font/Roboto-Black.woff2') format('woff2'),
        url('../font/Roboto-Black.woff') format('woff');
        
    font-weight: 900;
}

